* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Winky Rough", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(90deg, rgba(9, 58, 79, 0.83) 0%, rgba(33, 150, 82, 1) 50%, rgba(194, 180, 54, 1) 100%);
}

.container {
  padding: 20px;
  background-color: #21f3e51c;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 500px;
}

h1 {
  color: rgba(8, 70, 240, 0.896);
  font-size: 80px;
  text-align: center;
  margin-bottom: 20px;
}

.buttons {
  margin: 30px 0;
  display: flex;
  gap: 40px;
}

.play-btn {
  padding: 10px;
  font-size: 50px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  transition: transform 0.2s ease;
}

.play-btn:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.play-btn:active {
  opacity: 0.5;
  transform: scale(0.95);
}

#stone {
  background-color: aqua;
}

#paper {
  background-color: yellow;
}

#scissors {
  background-color: aquamarine;
}

.result {
  font-size: 40px;
  font-weight: bold;
  color: #fff23b;
  text-align: center;
  margin-top: 20px;
}

p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: navy;
  text-align: center;
}

.your-score span {
  color: #06f81a;
}

.machine-score span {
  color: #f11505b1;
}

.scoreboard {
  display: flex;
  gap: 30px;
  margin: 20px 0;
}

.reset-btn {
  background-color: white;
  color: red;
  font-size: 28px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.reset-btn:hover {
  background-color: red;
  color: white;
}

/* Responsividade */

@media screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }

  h1 {
    font-size: 50px;
  }

  .buttons {
    gap: 20px;
  }

  .play-btn {
    font-size: 40px;
  }

  p,
  .result {
    font-size: 20px;
  }

  .scoreboard {
    flex-direction: column;
    gap: 10px;
  }

  .reset-btn {
    font-size: 24px;
    padding: 8px 16px;
  }
}
